.menu--main {
	.jobs-overview {
		position: relative;

		.job-count {
			position: absolute;
			top: 3px;
			right: -12px;
			font-size: 10px;
			color: #fff;
			background: #e00000;
			font-weight: bold;
			display: inline-block;
			width: 15px;
			height: 15px;
			text-align: center;
			line-height: 15px;
			border-radius: 99px;
			transition: all .3s ease;
			transform: scale(0);
		}
		&--loaded {
			.job-count {
				transform: scale(1);
			}
		}
	}
}