.menu--main .jobs-overview {
  position: relative;
}
.menu--main .jobs-overview .job-count {
  position: absolute;
  top: 3px;
  right: -12px;
  font-size: 10px;
  color: #fff;
  background: #e00000;
  font-weight: bold;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border-radius: 99px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.menu--main .jobs-overview--loaded .job-count {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
