.job-teaser .panel {
  margin: 0;
}
.job-teaser__link {
  padding: 10px;
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
@media only screen and (min-width: 640px) {
  .job-teaser__link {
    padding: 15px;
  }
}
@media only screen and (min-width: 960px) {
  .job-teaser__link {
    padding: 20px;
  }
}
.job-teaser__link:hover, .job-teaser__link:active, .job-teaser__link:focus {
  background: rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: inherit;
}
.job-full__image {
  margin-bottom: 15px;
}
.job-full__intro {
  margin-bottom: 15px;
  font-weight: bold;
}
.job-full__categories {
  margin-bottom: 30px;
}
.job-full__categories a,
.job-full__categories span {
  display: inline-block;
}
.job-full__paragraphs .paragraph--background-white:first-child {
  padding-top: 0;
}
.job-full__paragraphs .paragraph:last-child:not(.paragraph--background-white) {
  margin-bottom: 30px;
}

.view-id-jobs.view-display-id-block_overview .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px -15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 100%;
}
.view-id-jobs.view-display-id-block_overview .views-row {
  padding: 0 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
}
