.job {
	&-teaser {
		.panel {
			margin: 0;
		}
		&__link {
			padding: 10px;
			position: relative;
			display: block;
			text-decoration: none;
			color: inherit;
			transition: all .3s ease;

			@media only screen and (min-width: 640px) {
				padding: 15px;
			}
			@media only screen and (min-width: 960px) {
				padding: 20px;
			}

			&:hover,
			&:active,
			&:focus {
				background: rgba(0, 0, 0, 0.05);
				text-decoration: none;
				color: inherit;
			}
		}
	}
	&-full {
		&__image {
			margin-bottom: 15px;
		}
		&__intro {
			margin-bottom: 15px;
			font-weight: bold;
		}
		&__categories {
			margin-bottom: 30px;

			a,
			span {
				display: inline-block;
			}
		}
		&__paragraphs {
			.paragraph--background-white:first-child {
				padding-top: 0;
			}
			.paragraph:last-child:not(.paragraph--background-white) {
				margin-bottom: 30px;
			}
		}
	}
}

.view {
	&-id-jobs {
		&.view-display-id-block_overview {
			.view-content {
				display: flex;
				margin: -30px -15px 0;
				flex-wrap: wrap;
				align-items: stretch;
				align-content: stretch;
				min-width: 100%;
			}
			.views-row {
				padding: 0 15px;
				margin-top: 30px;
				display: flex;
				align-items: stretch;
				align-content: stretch;
				width: 100%;
			}
		}
	}
}